/* Hacker's page stuff */
.page-id-2 .hentry .grid {
	background: #FAFAFA;
	text-align: center;
	height: 170px;
	padding: 10px 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #CCC;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.page-id-2 .hentry .col-300 {
	height: 200px;
}
.page-id-2 .hentry .grid:hover {
	background: #ddd;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.page-id-2 .hentry .grid img {
	height: 100px;
	width: auto;
}
.page-id-2 .hentry .grid .social img {
	height: auto;
}

.page-id-2 .hentry .profile {
	margin-left:30%;
}

.page-id-2 .hentry .profile img {
	float: left;
	padding: 0% 5%;
	height: 24px;
	width: 24px;
}
/* end hackers */
